body{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(pic1.jpeg);
	height: 95vh;
	background-size: cover;
	background-position: center;
}

h1 {
	color:white;
	text-align: center;
}
	
h2 {
	color:white;
	text-align: center;
}

.conf-page{
	position: relative;
	z-index: 1;
	width: 350px;
	padding: 10% 0 0;
	margin: auto;
	padding: 45px;
	text-align: center;
	background: #ffffff;
	border-style: solid;
	border-color: black;
}

.login-page{
	width: 500px;
	padding: 10% 0 0;
	margin: auto;
}

.form{
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 500px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	border-style: solid;
	border-color: black;
}

.form input{
	font-family: "Roboto", sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 200px;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

#nav input[name="sex"]{
	margin-top:5px;
	width:54px;
}

#nav input[name="Bank_Account"]{
	width: 200px;
}

#nav input[name="Username"]{
	width: 200px;
}

.form button{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.form button:hover{
	background: #43A047;
	opacity: 0.8;
}

.form button:active{
	background: #43A047;
	opacity: 0.6;
}

.form .message{
	margin: 15px 0 0;
	color: black;
	font-size: 12px
}

.form .message a{
	color: #4CAF50;
	text-decoration: none;
}

.conf-page .message a{
	color: #4CAF50;
	text-decoration: none;
}

.form .register-form{
		display: none;
}